<div tabular="employees" exportable sortable="+name">
  <button download="table.csv" ng-click="export('csv', 'employees.csv')">Export as CSV</button>

  <div ng-show="showColSelector" id="col_selector">
    <h3>Select columns:</h3>
    <ul>
      <li ng-repeat="col in cols">
        <a href="#" eat-click
           ng-click="col.hidden = !col.hidden"
           ng-class="{col_shown: !col.hidden}">{{col.name}}</a>
      </li>
    </ul>
  </div>

  <table>
    <thead>
    <tr>
      <td ng-repeat="col in cols" ng-hide="col.hidden" column="col.id">
        <a href="#" eat-click
           ng-click="sort(col.id)"
           ng-class="{sorted_asc: isSortedAsc(col.id), sorted_desc: isSortedDesc(col.id)}">{{col.name}}</a>
      </td>
      <td>
        <a href="#" eat-click
           ng-click="showColSelector = !showColSelector">...</a>
      </td>
    </tr>
    </thead>

    <tbody>

    <!--
    It's preferable to iterate through `rows` here instead of `employees`
    because `rows` will return the result of the expression passed into
    the `tabular` directive which may contain filters, for instance.
    -->
    <tr ng-repeat="employee in rows">
      <td ng-repeat="col in cols" ng-hide="col.hidden">{{employee[col.id]}}</td>
    </tr>

    </tbody>

  </table>
</div>