<div state tabular="employees" exportable sortable="+name" hidden-cols="['age', 'salary']">
  <button download="table.csv" ng-click="export('csv', 'employees.csv')">Export as CSV</button>

  <div ng-show="showColSelector" id="col_selector">
    <h3>Select columns:</h3>
    <ul>
      <li ng-repeat="col in columns">
        <a href="#" eat-click
           ng-click="hiddenCols.toggle(col.id)"
           ng-class="{col_shown: !hiddenCols.isHidden(col.id)}">{{col.name}}</a>
      </li>
    </ul>
  </div>

  <div ng-show="state.isStorable()">
    <h3>Restore state</h3>
    <ul>
      <li ng-repeat="stateName in savedStateNames">
        <a href="#" eat-click
           ng-click="state.restore(stateName)">{{stateName}}</a>
        <span>(<a href="#" eat-click ng-click="state.remove(stateName)">remove</a>)</span>
      </li>
    </ul>
    <p ng-hide="savedStateNames.length">No table states have been saved.</p>

    <h3>Add state</h3>
    <form ng-submit="state.save(newStateName)">
      <label for="newStateName">New state</label>
      <input type="text" ng-model="newStateName" id="newStateName" />
      <button type="submit">Add</button>
    </form>
  </div>

  <table>
    <thead>
    <tr>
      <td ng-repeat="col in columns" ng-hide="hiddenCols.isHidden(col.id)">
        <a href="#" eat-click
           ng-click="sort(col.id)"
           ng-class="{sorted_asc: isSortedAsc(col.id), sorted_desc: isSortedDesc(col.id)}">{{col.name}}</a>
      </td>
      <td>
        <a href="#" eat-click
           ng-click="showColSelector = !showColSelector">...</a>
      </td>
    </tr>
    </thead>

    <tbody>

    <!--
    It's preferable to iterate through `rows` here instead of `employees`
    because `rows` will return the result of the expression passed into
    the `tabular` directive which may contain filters, for instance.
    -->
    <tr ng-repeat="employee in rows">
      <td ng-repeat="col in columns" ng-hide="hiddenCols.isHidden(col.id)">{{employee[col.id]}}</td>
    </tr>

    </tbody>

  </table>
</div>