<div tabular="employees" exportable sortable="+name">
  <button download="table.csv" ng-click="export('csv', 'employees.csv')">Export as CSV</button>

  <table>

    <thead>
    <tr>
      <td column="name">
        <a href="#" eat-click
           ng-click="sort(column)"
           ng-class="{sorted_asc: isSortedAsc(column), sorted_desc: isSortedDesc(column)}">Name</a>
      </td>
      <td column="email">
        <a href="#" eat-click
           ng-click="sort(column)"
           ng-class="{sorted_asc: isSortedAsc(column), sorted_desc: isSortedDesc(column)}">E-mail</a>
      </td>
    </tr>
    </thead>

    <tbody>

    <!--
    It's preferable to iterate through `rows` here instead of `employees`
    because `rows` will return the result of the expression passed into
    the `tabular` directive which may contain filters, for instance.
    -->
    <tr ng-repeat="employee in rows">
      <td>{{employee.name}}</td>
      <td>{{employee.email}}</td>
    </tr>

    </tbody>

  </table>
</div>